* {
  padding: 0;
  margin: 0;
}
form {
  padding: 3%;
}
label {
  display: inline-block;
  width: 160px;
  height: 80px;
  font-size: 1.2rem;
}
input {
  width: 140px;
  height: 25px;
  /* margin-top: 2%; */
}
select {
  width: 140px;
  height: 30px;
}
#submitBtn,
#checkBtn {
  color: white;
  background-color: rgb(87, 181, 194);
  border: 1px rgb(87, 181, 194) solid;
  height: 35px;
  border-radius: 20px;
}
.camUse {
  display: block;
}
